In [4]:
import pandas as pd
csv_dir = r"\\140.114.141.95\nas\111\111033631_Yen\ARM\capture_images_sim\cube_points.csv"

df = pd.read_csv(csv_dir)

In [7]:
df[10:]

       0     1     2
10  0.14 -0.25  0.03
11  0.14  0.25  0.03
12  0.14  0.35  0.03
13  0.14  0.45  0.03
14  0.14  0.55  0.03
15  0.14  0.65  0.03
16  0.24 -0.55  0.03
17  0.24 -0.45  0.03
18  0.24 -0.35  0.03
19  0.24 -0.25  0.03
20  0.24 -0.15  0.03
21  0.24 -0.05  0.03
22  0.24  0.05  0.03
23  0.24  0.15  0.03
24  0.24  0.25  0.03
25  0.24  0.35  0.03
26  0.24  0.45  0.03
27  0.24  0.55  0.03
28  0.24  0.65  0.03
29  0.34 -0.55  0.03
30  0.34 -0.45  0.03
31  0.34 -0.35  0.03
32  0.34 -0.25  0.03
33  0.34 -0.15  0.03
34  0.34 -0.05  0.03
35  0.34  0.05  0.03
36  0.34  0.15  0.03
37  0.34  0.25  0.03
38  0.34  0.35  0.03
39  0.34  0.45  0.03
40  0.34  0.55  0.03
41  0.34  0.65  0.03